ul.nav{
	padding-top:70px;
}

.basket{
	padding-top:70px;
	font-size:1.5em;
}

.basket .fa-shopping-basket{
	font-size:1.8em;
}

/*Kolory tekstu i linków w nagłówku*/
header, header a {
	color: #000;
}

header a:hover, header .active a {
	color: #eee;
	text-decoration: none;
}

/*Większa czcionka w menu głównym*/
header .nav {
	font-size: 160%;
	text-transform:uppercase;
}

/*Stylowanie logo*/
header .logo img{
	width:180px;
	opacity: .9;
}

header .logo img:hover {
	opacity: 1;
}

.log-nav{
	font-size:1.2em;
	line-height:4;
}

.log-nav .fa-user{
	font-size:2.2em;
	position:absolute;
	line-height:1.7;
	right:278px;
}
