body{
		background-color:ghostwhite;
}

header{
	font-family: 'Nunito Sans', sans-serif;
}

.basket{
	font-size:1.5em;
}

.basket .fa-shopping-basket{
	font-size:1.8em;
}

/*Kolory tekstu i linków w nagłówku*/
header, header a {
	color: #444;
}

header a:hover, header .active a {
	color: #838383;
	text-decoration: none;
}

/*Większa czcionka w menu głównym*/
header .nav {
	font-size: 150%;
	text-transform:uppercase;
}

/*Stylowanie logo*/
header .logo img{
	width:180px;
	opacity: .9;
}

header .logo img:hover {
	opacity: 1;
}

.log-nav{
	font-size:1.2em;
	line-height:4;
}

/* ikonka logowania */
.log-nav .fa-user{
	font-size:2.2em;
	position:absolute;
	line-height:1.7;
	right:128px;
}

#search-field{
	background-color: #f2f2f2;
	outline: 0;
	box-sizing: border-box;
}

#pan, #pani{
	display: block;
	list-style: none;
	margin-top:55px;
}
#pani{
	padding-top:18px;
	float:left;
}
#pan{
	float:right;
}
.main-buttons{
	text-align:center;
	display: block;
	clear:both;
	font-family:'Open Sans';
	font-weight:600;
	font-size:30px;
	color:#303030;
	background-color:#fff;
	border:2px solid #303030;
	padding:5px 10px;
	border-radius:5px;
	-webkit-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
}
.main-buttons:hover{
	text-decoration:none;
	color:#fff;
	background-color:#2E1F27;
}
