body{
	font-family: 'Nunito Sans', sans-serif;
}

a:hover{
	text-decoration:none;
}

/* navbar */
header{
	z-index:100;
	position:relative;
}

/*Kolory tekstu i linków w nagłówku*/
header, header a {
	color: #444 !important;
}

header a:hover, header .active a {
	color: #838383;
	text-decoration: none;
}

/*Większa czcionka w menu głównym*/
header .nav {
	font-size: 150%;
	text-transform:uppercase;
}

/* logo*/
header .logo img{
	width:200px;
	min-width:140px;
	opacity: .9;
}

header .logo img:hover {
	opacity: 1;
}

.log-nav{
	font-size:1.2em;
	line-height:2;
}

/* ikonka logowania */
.log-nav .fa-user{
	font-size:2.2em;
	position:absolute;
	line-height:.8;
	right:128px;
}
@media only screen and (max-width: 768px) {
.log-nav .fa-user{
	font-size:2em;
	position:relative;
		right:8px;
}	
}

/* koszyk i cena w menu */
.basket{
	font-size:1.5em;
}

/* ikonka koszyka */
@media only screen and (max-width: 410px) {
.basket{
	display:none;
}
.dropdown-basket{
	display:none;
}
}
@media only screen and (max-width: 768px) {
.basket{
	font-size:1em;
}
}
.basket .fa-shopping-basket{
	font-size:1.8em;
}

/* Strona główna */

.main_page{
	width: 100%;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-image:url(../img/.jpg);
}
/*
.main_slider_content{
	width: 60%;
}
.main_slider_content h6{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 29px;
}
.main_slider_content h1{
	font-size: 4em;
	font-weight: 400;
	line-height: 1;
}
*/
/*
nav ul li:first-child a::after, nav ul li:nth-child(2) a::after{
	font-family:FontAwesome;
	content: '\f107';
	display:inline-block;
	font-size:0.8em;
	position:absolute;
	padding-left:5px;
	top:12px;
}*/
/*
#search-field{
	background-color: #f2f2f2;
	outline: 0;
	box-sizing: border-box;
}
*/

#pan, #pani{
	display: block;
	list-style: none;
	margin-top:55px;
}
#pani{
	padding-top:18px;
	float:left;
}
#pan{
	float:left;
}
#pan > div > .main-buttons > img, #pani > div > .main-buttons > img{
	display:none;
}


#pani > div > .main-category >img:hover, #pan > div > .main-category >img:hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
    -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*wygląd przycisków*/
.my-button{
	font-family:'Open Sans';
	color:#303030;
	background-color:#fff;
	border:2px solid #303030;
	cursor:pointer;
	padding:5px 10px;
	border-radius:8px;
	-webkit-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
}

.my-button:hover{
	text-decoration:none;
	color:#fff;
	background-color:#2E1F27;
	border: 1px solid #000;
	-webkit-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
	text-align: center;
}

/* przyciski pod panią i panem */
.main-buttons{
	position:relative;
	margin:auto;
	text-align:center;
	display: block;
	clear:both;	
	font-weight:600;
	font-size:30px;	
}

/* przyciski standardowe */
.standard-buttons{
	font-weight:600;
	font-size:20px;	
}

/* Rozwijane listy w menu i koszyku */
.dropdown>.my-dropdown-menu {
	display:none;
	background-color:#2E1F27;
	list-style:none;
}
.dropdown-basket>.my-dropdown-menu {
	display:none;
	background-color:lightgrey;
	list-style:none;
}

/* Responsywność */
@media only screen and (min-width: 576px) {
.dropdown:hover>.my-dropdown-menu {
  display: block;
  z-index:100;
  position:absolute;
}
.dropdown-basket:hover>.my-dropdown-menu{
  display: block;
  z-index:100;
  position:absolute;
  right:10%;
  top:60px;
}
}
@media only screen and (min-width: 1000px) {
	.main-buttons{
		width:320px;
	}
	#pan > div > a > img, #pani > div > a > img{
	width: 300px;
	}
}
@media only screen and (max-width: 1400px) {
	.main-buttons{
		width:220px;
	}
		#pani > div > a > img{
		width:210px;
}
	#pan > div > a > img{
		width:210px;
		padding-top:9px;
}
@media only screen and (max-width: 1000px) {
	#pani > div > a > img{
		width:150px;
	}
	#pan > div > a > img{
		width:150px;
		padding-top:9px;
	}
		.main-buttons{
	width:150px;
}
}
@media only screen and (max-width: 768px) {
		#pan > div > .main-buttons, #pani > div > .main-buttons{
			position:absolute;
	}
}
@media only screen and (max-width: 576px) {

		#pani > div > a > img, 	#pan > div > a > img{
		display:none;
		}
		.main-buttons{
			position:relative;
			width:150px;
			height:200px;
		}
		#pani, #pan{
			clear:both;
		}
	#pan > div > .main-buttons, #pani > div > .main-buttons{
		position:relative;
		right:auto;
		display:block;
		margin:auto;
		background-color:none;
	}
	#pan > div > .main-buttons > img, #pani > div > .main-buttons > img{
		display:block;
		padding:auto;
		padding-top:10px;
		margin:auto;
	}
		#pan > div > a > img, #pani > div > a > img{
		width:100px;
	}
	
	.dropdown-toggle::after {
		display:none;
	}
}

}
/* obrócenie pana w zakładce pan */
.rotate-object {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

/*kolor logo*/
.gold-color{
	color:#9e6600;
}

.about p{
	font-size:1.4em;
}

/*Animacje css dla pojawiania się elementów
-----------------------------------------------------------
*/

.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}	
} 

.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fade-in-left {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-right {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

/*		KOSZYK
-----------------------------------------------------------
*/

.wrap-table-shopping-cart {
  overflow: auto;
}

.table-shopping-cart {
  border-collapse: collapse;
  width: 100%;
  min-width: 992px;
}

.table-shopping-cart .table-row {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .column-1 {
  width: 225px;
  padding-left: 50px;
}
.table-shopping-cart .column-2 {
  width: 330px;
  padding-right: 30px;
}
.table-shopping-cart .column-3 {
  width: 133px;
  padding-right: 30px;
}
.table-shopping-cart .column-4 {
  width: 355px;
  padding-right: 30px;
}
.table-shopping-cart .column-5 {
  padding-right: 30px;
}

.table-shopping-cart .table-head th {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}

.table-shopping-cart td {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  padding-top: 37px;
  padding-bottom: 30px;
}

.table-shopping-cart .table-row .column-2 {
  font-size: 15px;
}


/* ------------------------------------ */
.cart-img-product {
  width: 90px;
  position: relative;
}

.cart-img-product img {
  width: 100%;
}

.cart-img-product:hover:after {
  cursor: pointer;
  opacity: 1;
}

input.num-product {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
