body{
		background-color:ghostwhite;
	font-family: 'Nunito Sans', sans-serif;
}

/*
nav ul li:first-child a::after, nav ul li:nth-child(2) a::after{
	font-family:FontAwesome;
	content: '\f107';
	display:inline-block;
	font-size:0.8em;
	position:absolute;
	padding-left:5px;
	top:12px;
}*/

.basket{
	font-size:1.5em;
}

.basket .fa-shopping-basket{
	font-size:1.8em;
}

/*Kolory tekstu i linków w nagłówku*/
header, header a {
	color: #444;
}

header a:hover, header .active a {
	color: #838383;
	text-decoration: none;
}

/*Większa czcionka w menu głównym*/
header .nav {
	font-size: 150%;
	text-transform:uppercase;
}

/*Stylowanie logo*/
header .logo img{
	width:200px;
	opacity: .9;
}

header .logo img:hover {
	opacity: 1;
}

.log-nav{
	font-size:1.2em;
	line-height:4;
}

/* ikonka logowania */
.log-nav .fa-user{
	font-size:2.2em;
	position:absolute;
	line-height:1.7;
	right:128px;
}

#search-field{
	background-color: #f2f2f2;
	outline: 0;
	box-sizing: border-box;
}

#pan, #pani{
	display: block;
	list-style: none;
	margin-top:55px;
}
#pani{
	padding-top:18px;
	float:left;
}
#pan{
	float:right;
}
#pani > div > a >img:hover, #pan > div > a >img:hover {
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
	width:105%;
	height:105%;
}

.main-buttons{
	text-align:center;
	display: block;
	clear:both;
	font-family:'Open Sans';
	font-weight:600;
	font-size:30px;
	color:#303030;
	background-color:#fff;
	border:2px solid #303030;
	padding:5px 10px;
	border-radius:5px;
	-webkit-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.75);
}
.main-buttons:hover{
	text-decoration:none;
	color:#fff;
	background-color:#2E1F27;
}

.rotate-object {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.gold-color{
	color:#9e6600;
}


.about p{
	font-size:1.4em;
}

/*Animacje css dla pojawiania się elementów*/
.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}	
} 

.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fade-in-left {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.fade-in-right {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 
